//
// Typography
// --------------------------------------------------

// Standard elements
// --------------------------------------------------

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v5/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'), url(http://fonts.gstatic.com/s/montserrat/v5/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff'), url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v5/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2'), url(http://fonts.gstatic.com/s/montserrat/v5/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff'), url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

body{
    color: $color-master;
    background: red;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 10px 0;
    font-family: "Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    font-weight: 300;
    color: $color-master-dark;
}
h1 {
    font-size: 44px;
    line-height: 54px;
    letter-spacing: -0.08px;
}
h2 {
    font-size: 31px;
    line-height: 40px;
}
h3 {
    font-size: 27px;
    line-height: 37.88px;
}
h4 {
    font-size: 22px;
    line-height: 31.88px;
}
h5{
    font-size: 18px;
    line-height: 25.88px;
}
h3 small, 
h4 small, 
h5 small {
    font-weight: 300;
}
h1.block, 
h2.block, 
h3.block, 
h4.block, 
h5.block, 
h6.block {
    padding-bottom: 10px;
}
a {
    text-shadow: none !important;
    color: $color-complete-dark;
    transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s !important;
}
a:focus, a:hover, a:active {
    color: $color-complete;
}
a,a:focus, a:hover, a:active {
    outline: 0 !important;
    text-decoration: none;
}
br {
   line-height: normal;
   clear: both;
}
code{
    color:$color-danger-dark;
    background-color: $color-master-lighter;
    &:hover {
        background-color: $color-danger-lighter;
    }
}
p {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 22px;
    margin: 0px 0px 10px 0px;
    font-style: normal;
    white-space: normal;
}
small, 
.small{
    line-height: 18px;
}
label {
    &.inline {
        display: inline-block;
        position: relative;
        top: 0px;
        font-size: 13px;
    }
}
ul,ol {
    & > li {
        padding-left: 3px;
        line-height: 24px;
    }
    &.lg-icon{
        & > li {
            font-size: 21px;
            & span {
                font-size: 14px;
            }
        }
    }
    &.no-style{
        list-style: none;
        padding-left: 5px;
    }
}
address {
    margin-bottom: 0px;
    a{
        color:$color-master;
    }
}
blockquote {
    padding: 0 0 0 18px;
    border-left:0;
    &:before{
        content: '';
        font-family: FontAwesome;
        content: "\f10d";
        margin-right: 13px;
        float: left;
    }
    p {
        font-size: 16px;
    }
    small {
        line-height: 29px;
        color: #8b91a0;
        padding-left: 30px;
        &:before {
            content: "";
        }
    }
    &.pull-right {
        border-right:0;
        &:before{
            float: right;
            content: '';
            font-family: FontAwesome;
            content: "\f10d";
            margin-left: 13px;
            margin-right: 0;
        }
        small {
            padding-right: 30px;
            &:after {
                content: "";
            }
        }
    }
}
hr{
  border-color:$color-master-light;
  &.double{
    border-width:2px;
  }
  &.dotted{
    border-style:dotted none none;
  }
}

// Font sizes
// --------------------------------------------------

.small-text {
    font-size: 12px !important;
}
.normal-text {
    font-size: 13px !important;
}
.large-text {
    font-size: 15px !important;
}

// Font weights
// --------------------------------------------------

.normal {
    font-weight: normal;
}
.semi-bold {
    font-weight: 500 !important;
}
.bold {
    font-weight: bold !important;
}
.light {
    font-weight: 300 !important;
}


// Misc
// --------------------------------------------------

.logo {
    margin: 18px 14px;
}
.all-caps {
    text-transform: uppercase;
}
.muted {
    color: lighten($color-master,50%);
}
.hint-text{
    opacity: .7;
}

// Monochrome Colors
// --------------------------------------------------

.bg-master{
    background-color: $color-master;
}
.bg-master-light{
    background-color: $color-master-light;
}
.bg-master-lighter{
    background-color: $color-master-lighter;
}
.bg-master-lightest{
    background-color: $color-master-lightest;
}
.bg-master-dark{
    background-color: $color-master-dark;
}
.bg-master-darker{
    background-color: $color-master-darker;
}
.bg-master-darkest{
    background-color: $color-master-darkest;
}

// Contextual Colors
// --------------------------------------------------

//Primary
.bg-primary {
    background-color: $color-primary;
}
.bg-primary-dark {
    background-color: $color-primary-dark;
}
.bg-primary-darker {
    background-color: $color-primary-darker;
}
.bg-primary-light {
    background-color: $color-primary-light;
}
.bg-primary-lighter {
    background-color: $color-primary-lighter;
}

// Complete
.bg-complete {
    background-color: $color-complete;
}
.bg-complete-dark {
    background-color: $color-complete-dark;
}
.bg-complete-darker {
    background-color: $color-complete-darker;
}
.bg-complete-light {
    background-color: $color-complete-light;
}
.bg-complete-lighter {
    background-color: $color-complete-lighter;
}

//Success
.bg-success {
    background-color: $color-success;
}
.bg-success-dark {
    background-color: $color-success-dark;
}
.bg-success-darker {
    background-color: $color-success-darker;
}
.bg-success-light {
    background-color: $color-success-light;
}
.bg-success-lighter {
    background-color: $color-success-lighter;
}

//Info
.bg-info{
    background-color: $color-info;
}
.bg-info-dark{
    background-color: $color-info-dark;
}
.bg-info-darker{
    background-color: $color-info-darker;
}
.bg-info-light{
    background-color: $color-info-light;
}
.bg-info-lighter{
    background-color: $color-info-lighter;
}

//Danger
.bg-danger {
    background-color: $color-danger;
}
.bg-danger-dark {
    background-color: $color-danger-dark;
}
.bg-danger-darker {
    background-color: $color-danger-darker;
}
.bg-danger-light {
    background-color: $color-danger-light;
}
.bg-danger-lighter {
    background-color: $color-danger-lighter;
}

//Warning
.bg-warning {
    background-color: $color-warning;
}
.bg-warning-dark {
    background-color: $color-warning-dark;
}
.bg-warning-darker {
    background-color: $color-warning-darker;
}
.bg-warning-light {
    background-color: $color-warning-light;
}
.bg-warning-lighter {
    background-color: $color-warning-lighter;
}

// Other Colors
// --------------------------------------------------

// Menu
.bg-menu-dark{
    background-color: $color-menu-dark;
}
.bg-menu{
    background-color: $color-menu;
}
.bg-menu-light{
    background-color: $color-menu-light;
}

// Gradients
.gradient-grey {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 75%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 75%);
}
.gradient-black {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 75%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 75%);
}

// Other
.bg-white{
    background-color: #fff;
}
.bg-transparent{
    background-color: transparent !important;
}

// Text Colors
// --------------------------------------------------

.text-master{
    color : $color-master !important;
}
.text-black {
    color: $color-master-dark !important;
}
.text-white {
    color: #fff !important;
}
.text-complete{
    color: $color-complete !important;
}
.text-success {
    color: $color-success !important;
}
.text-info {
    color: $color-info !important;
}
.text-warning {
    color: $color-warning !important;
}
.text-danger {
    color: $color-danger !important;
}
.text-primary{
    color: $color-primary !important;
}

// Text alignment
// --------------------------------------------------

.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}

// Labels
// --------------------------------------------------

.label {
    padding: 3px 9px;
    font-size: 11px;
    text-shadow: none;
    background-color: $color-master-light;
    font-weight: 600;
    color: $color-master;
}
.label-success {
    background-color: $color-success;
    color: #fff;
}
.label-warning{
    background-color: $color-warning;
    color: #fff;
}
.label-important {
    background-color: $color-danger;
    color: #fff;
}
.label-info{
    background-color: $color-complete;
    color: #fff;
}
.label-inverse {
    background-color: $color-complete-dark;
    color: #fff;
}
.label-white {
    background-color: #fff;
    color: $color-master;
}
.label-white {
    background-color: $color-master-dark;
    color: $color-master-light;
}

// Font sizes
// --------------------------------------------------

.fs-11{
    font-size: 11px !important;
}
.fs-12{
    font-size: 12px !important;
}
.fs-13{
    font-size: 13px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-16{
    font-size: 16px !important;
}

// Fonts
// --------------------------------------------------

.font-arial{
    font-family:  Arial, sans-serif !important;
}
.font-montserrat{
    font-family: 'Montserrat' !important;
}
.font-georgia{
    font-family: Georgia !important;
}

// Wells
// --------------------------------------------------
.well {
    background-color: $color-master-light;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    background-image: none;
    &.well-large {
        padding: 24px;
        width: auto;
    }
    &.well-small {
        padding: 13px;
        width: auto;
    }
    &.green {
        background-color: $color-complete;
        color:  $color-white ;
        border: none;
    }
}
.overflow-ellipsis{
    text-overflow:ellipsis;
    overflow: hidden;
}

// Responsive handlers
// --------------------------------------------------

@media (max-width: 1400px) { 
    h1 {
        font-size: 33px;
        line-height: 44px;
        letter-spacing: -0.08px;
    }
    h2 {
        font-size: 28px;
        line-height: 40px;
    }
    h3 {
        font-size: 24px;
        line-height: 35.88px;
    }
    h4 {
        font-size: 18px;
        line-height: 33.88px;
    }
    h5{
        font-size: 16px;
        line-height: 25.88px;
    }
}