
/* Colors */

.text-gray {
  color : #626262;
}


/* Headings 
------------------------------------
*/



body {
  color: #626262;
  background-color:#F9F9F9;
  font-family: "Exo 2", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  
}

.bg-canvas {
  background: rgb(242, 245, 246);
  background: -moz-linear-gradient(top, rgba(242, 245, 246, 1) 0%, rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(242, 245, 246, 1) 0%, rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100%);
  /* background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); */
  height:auto;

}


.any-app-container {
    margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
  color: #2c2c2c;
}
h1 {
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.08px;
}
h2 {
  font-size: 31px;
  line-height: 40px;
}
h3 {
  font-size: 27px;
  line-height: 35px;
}
h4 {
  font-size: 22px;
  line-height: 31.88px;
}
h5 {
  font-size: 18px;
  line-height: 25.88px;
}

h6 {
  font-size:14px;
}

h3 small,
h4 small,
h5 small {
  font-weight: 300;
}
h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-bottom: 10px;
}

p {
  font-size:17px;
}
.standard-link {

  cursor:pointer;

}
.close {
  margin-top:2px;
  color: #626262;

}


.text-success {
    color: #0FAC68 !important;
}

.text-silver {
  color: #bdc3c7;
}
/*----------*/

.page-sidebar .sidebar-menu .menu-items > li > a {
  font-family: 'Exo 2', sans-serif;

  }

/* buttons */
  button {
    font-size : 14px;
    text-transform: capitalize;
  }

.btn-label {
  font-size: 18px;
  position: relative;
  left: -18px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px 0 0 3px; }

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0; }

.btn-skill {
  margin-bottom: 10px;
  font-size: 0.8em; }

.header .brand {
  text-align: left;
  padding-left: 30px; }


.no-style {
    color:gray;
}

.no-style:hover {
    color:black;
}

.return-margins {
  margin-left:0px;
  margin-right:0px;
}

/* SKILLS */

#add-skill-box {

  position:absolute;
  vertical-align: bottom;
  left:0;
  bottom:0;
  box-shadow: 0px -2px 15px #888;

}

@keyframes textColorChange {
  0% {color: #ffffff;}
  50% {color: ##e6e6e6;}
  100% {color: #181818;}
}
/* Use @-webkit-keyframes for Safari/Chrome */

.pulsetext{
  animation: textColorChange 2s infinite;
}
/* Use -webkit-animation for Safari/Chrome */

.loadn {
  position: relative;
  left: -40px;
  top: -30px;
  display: none;
  font-size: 15px; }

.btn--table {
  text-align: left !important; }

.page-container .page-content-wrapper .content {
  padding-bottom: 5px; }

.number {
  padding-left: 10px !important; }

.transparent {
  background: rgba(255, 255, 255, 0.5); }

#map {
  position: relative; }

.watermark {
  position: absolute;
  left: 0;
  margin-bottom: 200px;
  margin-left: 190px;
  bottom: 0;
  background-color: transparent; }

div.brand.inline > h2 > img {
  vertical-align: text-bottom;
  margin-right: 10px; }

.overlay .overlay-search {
  font-size: 55px; }

.overlay .overlay-brand {
  margin-left: 0px;
  vertical-align: text-bottom; }

.search-result-name {
  margin-top: 0px; }

.btn-search-result {
  padding: 0px;
  margin: 0px;
  text-align: left;
  border: none; }

.btn-search-result:hover {
  padding: 0px;
  margin: 0px;
  text-align: left;
  border: none; }

#chat-trigger {
  z-index: 1000; }

.quickview-wrapper .nav-tabs {
  padding: 0px; }

.login-wrapper {
  background-color: rgba(144, 177, 243, 0.88); }

.no-bullets {
  list-style-type: none; }

.label--flag {
  font-size: 1.0em; }

.largefont {
  font-size: 1.5em;
  padding: 5px; }

.extra-largefont {
  font-size: 2.5em;
  padding: 5px; }

.no-padding-right {
  padding-right: 0px; }

.border-bottom {
  border-bottom: 1px gray dotted; }

.chat-view .message {
  margin-bottom: 0px; }

.btn-custom {
  width: 10em; }

.app-main-nav {
  background: #ffffff;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  max-height: 60px; 
 z-index:1000;}
  .app-main-nav .nav-devinity-logo {
    display: inline-block;
    margin: 8px 0 0 25px;
    vertical-align: top; }
  .app-main-nav .app-headline {
    color: #cacaca;
    display: inline-block;
  
    line-height: 60px;
    margin: 0; }


  .app-headline {
    color: #34495e;
    font-weight:600;

  }
  .app-main-nav .main-user-account-management {
    display: inline-block;
    float: right; }
    .app-main-nav .main-user-account-management .user-profile-nav {
      right: 20px; }
  .app-main-nav .nav-user-name {
    font-size: 16px;
    line-height: 60px; }
  .app-main-nav .navigation-user {
    padding: 6px 20px 0 10px; }

.main-info-profile {
  overflow: hidden;
  display: block;
  min-height:120px;
}

.avatar {
    border-radius: 50%;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 80px;
    width:80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
  opacity: 0;
border-radius:50%;
       -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
    
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


.avatar:hover span.text-content {
  opacity: 1;
}

.love-stuff-list {
  font-size: 19px;
  list-style: none;
  padding: 0;
}

.love-stuff-list .love-stuff-list-element {
  display: inline-block;
  height: 35px;
  margin-bottom: 10px;
  width: 49%;
  position: relative;
}


.love-stuff-list li span {
  background: #EAEAEA;
  border-radius: 0px 3px 3px 0px;
  color: #cb4330;
  cursor: pointer;
  height: 35px;
  display: inline-block;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px 6px 5px;
  text-align: center;
  width: 25%;

}



.love-list-tag-content {
  background-color: #c0392b;
  border-color: #c0392b;
  border: none;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  height: 100%;
  width: 75%;
}

.love-list-tag-content:hover {
  background-color: #e74c3c;
  color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.btn-tag-custom {
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}


.headline-main-app-section {
  color: #626262;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  line-height: 35px
}

.headline-main-app-section i {
  color: #cacaca;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}


.my-tech-section-headline {
  padding: 15px 25px 10px 25px;
}

/*.my-tech-headline-content::before {*/
  /*content: '';*/
  /*background: url(../static/img/ninja.png) no-repeat;*/
  /*position: absolute;*/
  /*width: 15px;*/
  /*height: 15px;*/
  /*left: 0px;*/
  /*top: 0px;*/
/*}*/




.love-stuff-headline {
  color: #626262;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}

.matches-list-section {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mateches-list-section .panel .panel-body {
  padding-top: 0px;
}
.main-learn-container .learn-section {
  padding: 0 15px 0 0;
}

.learn-stuff-section, .matching-section {
  background: #ffffff;
  padding: 15px 25px 50px 25px;
  margin-bottom: 25px;
  min-height:300px;
}

.matching-section {
  background: #ffffff;
  padding: 15px 25px 25px 25px;
  margin-bottom: 25px;
}


.tool-section-wrapper {
  padding-left: 0px;
}

.col-md-6 .btn-group .flag-wrapper {
  border-radius: 15px;
  padding: 5px 10px;
}

.section-main-headline-tool {
  color: #626262;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 15px;
}

.section-main-peer-match {
  color: #626262;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
}

.peer-match-profile-section {
  min-height: 50px;
  padding: 0;
}

.peer-match-profile-section img {
  border-radius: 50%;
  margin-top: 5px;
}

.peer-match-profile-help-desc {

  font-size: 13px;

}

.peer-match-profile-score {

  font-size: 17px;
  color:#fff;

}
.peer-match-profile-section .peer-info .peer-match-name {
  cursor: pointer;
  font-weight: bold;
  margin: 0 0 0 20px;
}

.peer-match-position {
  font-size: 14px;
  margin-left: 20px;
}

.peer-info {
  display: inline-block;
  min-height: 50px;
  vertical-align: middle;
}

.peer-match-profile-section-details {
  padding: 0;
  min-height: 50px;
  text-align: right;
}

.peer-match-profile-section-details h4 {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}

.peer-match-profile-container {
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  padding: 15px 15px;
  padding-top:0px;
  padding-bottom:0px!important;
}


.peer-match-button-row {
  padding-left:20px;
  padding-right:5px;
  cursor:pointer;

}
.col-md-12 .panel .peer-match-button-row:hover, .peer-match-button-row:focus, .peer-match-button-row:active {
  background-color: #FAFAFA;
  color: #2c2c2c;
  border-radius:5px;

}




.expand-label {

  padding-top:5px;
  padding-bottom:10px;
  bottom:0;
  left:0;
}

.tools-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tools-list .technology-label {
  display: inline-block;
}

.technology-label-logo {
  background: #29323a;
  color: #ffffff;
}

.technology-label-name {
  background: #3b4752;
  display: inline-block;
  color: #ffffff;

}

.technology-label-number {
  background: #f55753;
  color: #ffffff;
}

.tool-wrapper {
  display: inline-block;
  margin-bottom: 10px;
  width: 50%;
}

.tool-wrapper .tool-wrapper-content {
  background: #2c3e50;
  border: none;
  color: #ffffff;
  display: inline-block;
  margin-left: -6px;
  min-height: 35px;
  width: 65%;
  vertical-align: top;
}

.tool-wrapper .tool-wrapper-content:hover {

  background-color: #3e5c77;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.tool-wrapper-tech {
  border-radius: 3px 0 0 3px;
  background-color: #293239;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  min-height: 35px;
  text-align: center;
  line-height: 35px;
  width: 15%;
  vertical-align: top;
}

/* Doesn't work for now. :D;
.tool-wrapper-tech:hover {

 box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
} */

.tool-wrapper-user {
  background: #EAEAEA;
  border-radius: 0 3px 3px 0px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-left: -6px;
  line-height: 35px;
  width: 20%;
  vertical-align: top;
  text-align:center;
  /* fade */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}


}

.tool-learn-wrapper-content {
  background: #364752;
  border: none;
  color: #ffffff;
  display: inline-block;
  margin-left: -6px;
  min-height: 35px;
  width: 64%;
  vertical-align: top;
}

.tool-wrapper-tech {
  border-radius: 3px 0 0 3px;
  display: inline-block;
  background-color: #293239;
  color: #ffffff;
  cursor: pointer;
  min-height: 35px;
  text-align: center;
  line-height: 35px;
  width: 15%;
  vertical-align: top;
  font-size:18px;
}

.tool-wrapper-learn {
  border-radius: 3px 0 0 3px;
  display: inline-block;
  background-color: #293239;
  color: #ffffff;
  cursor: pointer;
  min-height: 35px;
  text-align: center;
  line-height: 35px;
  width: 15%;
  vertical-align: top;
}

.tool-learn-wrapper-user {
  background: #00A9A5;
  border-radius: 0 3px 3px 0px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-left: -6px;
  line-height: 35px;
  text-align: center;
  width: 20%;
  vertical-align: top;
    /* fade */

}


.learn-stuff-headline-section {
  margin-bottom: 20px;
}


.tool-wrapper-content .tool-wrapper-tech-logo {
  left: -1px;
  top: 0;
  position: absolute;
}

.panel-complete .peer-matching-container {
  padding-left: 0px;


}

.flag-wrapper {
  color: #000000;
  height: 70px;
  display: inline-block;
  position: relative;
  padding: 15px 35px 15px 40px;
  margin-bottom: 5px;
  width: 50%;
  vertical-align: text-top;
  
}

.flag-wrapper:hover {
 box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

}

.flag-ranking-content .flag-wrapper {
  color: #000000;
  height: 70px;
  display: inline-block;
  position: relative;
  padding: 25px 42px 25px 42px;
  margin-bottom: 5px;
  vertical-align: text-top;
  width: 80%;
}

.positive-ranking {
  background: #2980b9;
}

.opportunity-ranking {
  background: #f39c12;
}

.negative-ranking {
  background: #c0392b;
}

.positive {
  background: #2980b9;
  position: relative;
}

.positive::before {
  content: '';
  height: 70px;
  background: #d1e4f4;
  width: 10%;
  left: 0;
  top: 0;
  position: absolute;
}

.positive::after {
  content: 'Wants';
  color: #000000;
  font-size: 13px;
  left: -8px;
  top: 24px;
  position: absolute;
  transform: rotate(270deg);
}

.flag-content {
  font-size: 17px;
  font-weight: 300;
  line-height: 1em;
  color:#fff;

  text-align: left;
  margin-bottom: 25px;
}

.opportunity {
  background: #f39c12;
  position: relative;
}

.opportunity::before {
  content: '';
  height: 70px;
  background: #fff3cf;
  width: 10%;
  left: 0;
  top: 0;
  position: absolute;
}

.opportunity::after {
  content: 'Needs';
  color: #000000;
  font-size: 13px;
  left: -8px;
  top: 24px;
  position: absolute;
  transform: rotate(270deg);
}

.negative {
  background: #c0392b;
  position: relative;
}

.negative::before {
  content: '';
  height: 70px;
  background: #f3cece;
  width: 10%;
  left: 0;
  top: 0;
  position: absolute;
}

.negative::after {
  content: 'Alerts';
  color: #000000;
  font-size: 13px;
  left: -8px;
  top: 24px;
  position: absolute;
  transform: rotate(270deg);
}


.flag-wrapper button {
  background: transparent;
  border: none;
  display: none;
}

.delete-bnt {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.edit-bnt {
  position: absolute;
  right: 0;
  top: 23px;
  color:#fff;
  font-size:20px;
}

.main-learn-container {
  padding-bottom: 40px;
}

.edit-quote-btn {
  display: none;
}

.quote-container {
  display: inline-block;
}

.inner .container-introduction {
  margin-top: 20px;
}

.main-info-profile .avatar-container {
  
}

.user-info-wrapper {
  padding-left: 35px;
}

.user-info-wrapper .user-name-headline {
  font-weight: bold;
  margin-bottom: 2px;
}

.main-container {
  /*background: #ffffff;*/
  padding-left: 0;
  margin-bottom: 15px;
}

.main-container .main-container-content {
  background: #ffffff;
  padding: 15px 25px 50px 25px;
  height:300px;
}

.main-container .main-container-content-peers {
  background: #ffffff;
  padding: 15px 25px 1px 25px;

}



.main-container .main-container-sub-content {
  background: #ffffff;
  padding: 15px 25px 50px 0px;
  height:150px;
}

.tool-section-content {
  padding: 15px 25px 0px 25px;
  min-height:300px;
}

.app-headline-section {
  border-bottom: 2px solid rgba(230, 230, 230, 0.7);
}

.app-health-flag-headline-section, .app-love-stuff-headline-section {
  border-bottom: 2px solid rgba(230, 230, 230, 0.7);
  display: block;
  margin-bottom: 20px;
}


.tools-list-section {
  margin-top: 20px;
  margin-bottom:100px;
}

.add-tag-btn {
  background-color: transparent;
  border: none;
  color: #7f8c8d;
  display: inline-block;
  float: right;
  height: 35px;
  font-size: 13px;
  padding: 0px;
  font-weight:600;
}

.add-tag-btn:hover {
  text-decoration: underline;
}


.main-container-content .app-health-flag-headline-section .flag-menu {
  right: 0;
 }

.flag-container {
}


/*dashboard style*/

.temporary-break {
  margin-top: 200px;
}



/*employees section*/

.brief-stats-section {
  color: #ffffff;
  padding: 50px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.developers-number {
  background: #48b0f7;
}

.technology-number {
  background: #10cfbd;
}

.brief-stats-section-content {
  font-size: 60px;
  font-weight: 100;
}

.brief-stats-section-desc {
  /*color: #626262;*/
  color: #ffffff;
  font-size: 27px;
  padding-top: 30px;
}

.skill-ranking-content {
  background: #ffffff;
  padding: 20px 15px;
  margin-bottom: 30px;
}

.want-learn-ranking-content {
  background: #ffffff;
  padding: 20px 15px;
}


/*technology stats*/

.skill-ranking-content-headline, .flag-ranking-content-headline, .want-learn-ranking-content-headline {
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  font-size: 20px;
}

.skill-ranking-list, .learn-ranking-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.progressbar-container {
  background-color: #364752;
  border-radius: 10px;
  display: inline-block;
  height: 25px;
  width: 90%;
}

.skill-progressbar-valx {
  color: #ffffff;
  background: #f55753;
  height: inherit;
  border-radius: 10px;
}

.learn-progressbar-valx {
  color: #ffffff;
  background: #00A9A5;
  height: inherit;
  border-radius: 10px;
}

.value-x-a {
  width: 75%;
}

.value-x-b {
  width: 45%;
}

.value-x-c {
  width: 34%;
}

.skill-ranking-list-content, .learn-ranking-list-content {
  margin: 25px 0;
}

.learn-progressbar {
  width: 90%;
  height: 25px;
  display: inline-block;
}

.flag-stats-progressbar {
  background-color: #364752;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  text-align: right;
  vertical-align: top;
}


/*Media Queries*/

@media all and (max-width: 600px) {
  .tool-wrapper {
    width: 100%;
  }

  .love-stuff-list .love-stuff-list-element {
  width: 100%;
  }
}


/* Modals */
@media (min-width: 900px) {
  .modal-lg {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .modal-lg {
    width: 35%;
  }
}

@media (min-width: 1720px) {
  .modal-lg {
    width: 25%;
  }
}





.nobtn {
  background-color: #fff;
  border:none;
}

.bigfont {
  font-size:24px;
}

.selectRow {
    display : block;
    padding : 20px;
}
.select2-container {
    width: 200px;
}

.so-disclaimer {

  font-size: 13px;
}

.so-disclaimer .so-disclaimer-text {
  vertical-align: -webkit-baseline-middle;
}



/* MODAL */
.modal-tag-description-text {
 text-align:justify;
}

.modal-open {
  overflow:hidden;
}

/*Sidebar list view*/

.sidebar-list-view-headline {
  font-size: 20px;
}

.list-view-header {
  font-size: 27px;
}

.list-view-sidebar {
  list-style: none;
}

.list-view-sidebar-list-item {

}

.list-view-sidebar-avatar-content {
  position: relative;
}

.list-view-sidebar-avatar-content {
  border-radius: 50%;
  height: 50px;
  overflow: hidden;
  width: 50px;
  position: relative;
}

/* Learn stuff new list */
.learn-stuff-list {
  font-size: 19px;
  list-style: none;
  padding: 0;
}

.learn-stuff-list .learn-stuff-list-element {
  display: inline-block;
  height: 35px;
  margin-bottom: 10px;
  width: 49%;
  position: relative;
}


.learn-stuff-list li span {
  background: #EAEAEA;
  border-radius: 0px 3px 3px 0px;
  color: #009A87;
  cursor: pointer;
  height: 35px;
  display: inline-block;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px 6px 5px;
  text-align: center;
  width: 25%;

}



.learn-list-tag-content {
  background-color: #009A87;
  border-color: #f55753;
  border: none;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  height: 100%;
  width: 75%;
}

.learn-list-tag-content:hover {
  background-color: #19b698;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}



/* Forms */
#quote-input .editable-wrap .editable-controls, .editable-wrap .editable-controls>input, .editable-wrap .editable-controls>select, .editable-wrap .editable-controls>textarea, .editable-wrap .editable-error {
  width:100%;
}
/* Quote */
.quote-headline-wrapper {

    min-height:100px;

}

.inplace-edit-element {
  display: inline-block;
  cursor: pointer;
}

.inplace-edit-element:hover {
  text-decoration:underline;
}

#quote-input .editable-wrap {
    display:inline-block;
    width:100%;
    padding-top:10px;
  width: -moz-available;


}

#quote-input .editable-input {
  border:none;
  background:inherit;
  font-size:27px;
  font-weight: inherit;
  font-family: inherit;
  padding-left:0px;
  width:80%;
}


#quote-input span.editable-buttons{
  padding-right:10px;
  float:right;
}

/* Profile */


#name-input {

  margin-bottom: -10px;
  font-weight:bold;

}

#name-input .editable-wrap .form-group{ 
    display:inline-block;
    width:100%;


}

#name-input .editable-input {
  border:none;
  background:inherit;
  font-size:31px;
  margin-top:2px;
  font-weight: inherit;
  font-family: inherit;
  padding-left:0px;
  width:80%;
  height:100%;

}

#name-input .editable-buttons {
  padding-top:17px;
}

#name-input span.editable-buttons{

  float:right;
}

#job-input {

max-height:10px;
}

#job-input .editable-wrap .form-group{ 
    display:inline-block;
    width:100%;
  

}

#job-input .editable-input {
  border:none;
  background:inherit;
  font-size:18px;
  font-weight: inherit;
  font-family: inherit;
  padding-left:0px;
  width:65%;
  margin-top:-5px;
}

#envelope-icon {
  margin-top:4px;
}

/* BUTTONS */



#job-input span.editable-buttons{
  
  float:right;
}

#email-input {
  margin-top:30px;
}
#email-input .editable-wrap .form-group{ 
    display:inline-block;
    width:100%;

   

}

#email-input .editable-input {
  border:none;
  background:inherit;
  font-size:18px;
  font-weight: inherit;
  font-family: inherit;
  padding-left:0px;
  width:65%;
  margin-top:-5px;
}


#email-input span.editable-buttons{
  
  float:right;
}

/* pace */


/* select ui */
.ui-select-bootstrap .ui-select-choices-row.active>a {
  color : #fff;
  background-color:red;
}


/* Placeholders */

.tag-container-no-tag {

  margin-top: 30px;
  text-align: center;
  display: none;
  position:absolute;
  left:25%;
  bottom:25%;
  right:25%;
  top:25%;
  text-align:center;
}

.tag-container-no-tag i {
  opacity: .35;
  
}

.tag-container-no-flag .no-tag-info {
  color: #b1b1b1;
  margin-top: 20px;
}

/* UI select */




.add-skill-bottom-div {
  border:0px;
  vertical-align:top;
  bottom:5%;
  position:absolute;
  padding:0px 0px 0px 0px;
  width:88%;
  margin-top:5px;

}
.add-skill-bottom-div .form-control {
  border:0px;

  

}

.add-skill-bottom-div .form-control .input {
  padding-left:5px;
}

.add-skill-bottom-div-label {
  color:#626262;

}

/* Noselect to disable selection on level box */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}


.star-green {
  background-color: #27ae60;
}

.star-blue {
  background-color: #2980b9;
}

.star-purple {
  background-color: #8e44ad;
}

/* Animations */
.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}


/* LOGIN */

.move-top-6-em {

  top:-6em;
}

.move-top-11-em {

  top:-12em;
}

.btn-blue {
  background-color: #02A5DD;
}



.btn-blue,
.btn-blue:focus {
  color: #ffffff;
  background-color: #02A5DD;
  border-color: #02A5DD;
}

.btn-blue.active,
.btn-blue:active,
.btn-blue.active:focus,
.btn-blue:active:focus,
.btn-blue:active:hover,
.open .dropdown-toggle.btn-blue {
  background-color: #DCE2DE;
  border-color: #DCE2DE;
  color: #ffffff;
}
.btn-blue.hover,
.btn-blue:hover,
.open .dropdown-toggle.btn-blue {
  background-color: #146EA0;
  border-color: #146EA0;
  color: #ffffff;
}
.btn-blue.active:hover {
  background: #DCE2DE;
  border-color: #DCE2DE;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #DCE2DE;
  border-color: #DCE2DE;
}
.btn-blue .badge {
  color: #10cfbd;
  background-color: #ffffff;
}

/*particleground*/

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.form-group-default .form-control {
  font-family:'Exo 2';
  height:35px
}

#errors {

}

.label-credentials {

  font-size:17px;
  width:100%;
  display:inherit;

}

.hide-it {
  display:none!important;
}

.show-it {
  display:table-cell !important
}


/* uib-tooltip */
        /* Specify styling for tooltip contents */
        .tooltip.customClass .tooltip-inner {
          color: #880000;
          background-color: #ffff66;
          box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }
        /* Hide arrow */
        .tooltip.customClass .tooltip-arrow {
          display: none;
        }
    
}