{% load i18n static %}
<script type="text/ng-template" id="emptySection.html">
 <section class="main-container col-md-6">
        <div class="main-container-content">
            <div class="love-stuff-section">
                
               

            DUPA


                
            </div>
        </div>
 </section>
</script>
