{% load i18n static %}
<script type="text/ng-template" id="loveStuffSection.html">
 <section class="main-container col-md-6">
        <div class="main-container-content">
            <div class="love-stuff-section">
                <div class="app-love-stuff-headline-section">
                    <h3 class="headline-main-app-section"

            {% if not request.user.is_manager %} 
            
            uib-popover="

            Passions are the things that get you excited. 
            It could be some cool tech or a programming language
            that makes you feel good when you're doing it.

            " popover-title="Show your passions" popover-placement="right" popover-trigger="mouseenter"

            {% endif %}


                    >
                        <i class="fa fa-heart"></i> {% trans 'My tech passions' %}
                    </h3>
                 
             <span align="center" class="pull-right">
            <img src="{% static 'gifs/ajax-loader.gif' %}" data-ng-if="vm.initializing"/>
            </span>
               
                    
                    {% if not user_id %}
                        <button class="add-tag-btn" data-ng-click="vm.editLoveStuffs()"
                                data-ng-if="!vm.editing && !vm.initializing">{% trans 'Modify' %}</button>
                    <div class="pull-right" data-ng-if="vm.editing && !vm.saving">
                        <button class="btn btn-xs btn-success"
                                data-ng-click="vm.saveLoveStuffs()"><i class="glyphicon glyphicon-ok"></i></button>
                        <button class="btn btn-xs btn-default"
                                data-ng-click="vm.cancelLoveStuffsEditing()"><i class="glyphicon glyphicon-remove"/></button>
                    </div>
                    {% endif %}
                </div>

               

                <div class="tag-container-no-tag animated fadeIn" style="display: block;" data-ng-if="!vm.skills.length && !vm.editing && !vm.initializing">
                        <i class="fa fa-heart fa-5x"></i>
                    {% if not user_id %}
                    <p class="no-tag-info">
                        {% trans "You don't have anything here." %}
                        <br>
                        <a href="javascript:;"
                           data-ng-click="vm.editLoveStuffs()"
                           data-ng-if="!vm.editing">Add stuff you love!</a>
                    </p>
                    {% else %}
                        <p class="no-tag-info">{% trans "Empty" %}</p>
                    {% endif %}
                    </div>


                <div>    
                <ul class="love-stuff-list" data-ng-if="!vm.editing">
                    <li class="love-stuff-list-element animated fadeIn"
                        data-ng-repeat="skill in vm.skills"
                        data-ng-click="vm.showInfo(skill)">
                        <button class="love-list-tag-content btn-4"
                                data-ng-bind="skill.tag.name"
                                ></button>
                        <span><i class="fa fa-heart text-silver">&nbsp</i> {% verbatim %}{{ skill.count }}{% endverbatim %}</span>
                    </li>
                </ul>
                </div>

                {% if not user_id %}
                <div data-ng-if="vm.editing && !vm.saving">
               
                <div class="add-skill-bottom-div">
                 <div class="add-skill-bottom-div-label">
                <i class="fa fa-circle text-success fs-11"/> ADD YOUR TECH PASSIONS
                 
                </div>
                   
                    <ui-select multiple
                               ng-model="vm.tags"
                               theme="bootstrap"
                               autofocus="true"
                               title="{% trans 'Add tags...' %}">

                        <ui-select-match placeholder="{% trans 'Start typing..' %}">
                            {% verbatim %}
                            {{ $item.name }}
                            {% endverbatim %}
                        </ui-select-match>
                        <ui-select-choices repeat="choice in vm.choices"
                                           refresh="vm.getChoices($select.search)"
                                           refresh-delay="0">
                            <div data-ng-bind-html="choice.name"></div>
                        </ui-select-choices>
                    </ui-select >
                    </div>
                </div>
            {% endif %}
            </div>
</script>
