{% load i18n static %}
<script type="text/ng-template" id="profileSection.html">
<div>
    <div id="quote-input" class="quote-headline-wrapper">
        <h3 class="no-margin"><i class="fa fa-quote-left"
                                 {% if not user_id %}
                                 data-ng-click="quoteText.$show()" style="cursor: pointer"
                                 {% endif %}></i></h3>
        <h3 class="text-info {% if not user_id %}inplace-edit-element{% endif %}"
            {% if not user_id %}
            data-ng-disabled=""
            data-editable-text="vm.user.motto"
            data-e-form="quoteText"
            data-ng-hide="quoteText.$visible"
            data-onaftersave="vm.saveQuote()"
            data-ng-click="quoteText.$show()"
            {% endif %}
            data-ng-bind="vm.user.motto"></h3>
   </div>
    <section class="main-container col-md-6">
        <div class="main-container-sub-content bg-transparent">
            <div class="main-info-profile">
                <span align="center" class="pull-right">
            <img src="{% static 'gifs/ajax-loader.gif' %}" data-ng-if="vm.initializing"/>
            </span>
            <style>
    .thumbnail {
      max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;
    }
    .thumbnail img {
    max-width: 200px;
    max-height: 100px;
}
  </style>

                <div class="col-md-12" data-ng-if="vm.editPhoto"
                     flow-init="{'target': '/api/users/{{ request.user.id }}/upload_avatar/', 'headers': vm.getHeaders() }"
                     flow-files-submitted="$flow.upload()"
                     flow-file-success="vm.fileAdded($file, $message, $flow )"
                     flow-file-added="vm.fileUploading()">
                    <div>
                      <div class="pull-right">
                        <img src="/static/gifs/ajax-loader.gif" ng-if="vm.photoUploading">
                      </div>
                      <div class="thumbnail" >
                        <img flow-img="$flow.files[0]" ng-if="$flow.files.length" />
                        {% verbatim %}
                        <img ng-if="!$flow.files.length && vm.user.photo" ng-src="{{ vm.user.photo }}" >
                        {% endverbatim %}
                      </div>

                    <div>
                      <a href="#" class="btn btn-info"
                         ng-hide="$flow.files.length"
                         ng-disabled="vm.photoUploading"
                         flow-btn
                         flow-attrs="{accept:'image/*'}"><i class="fa fa-folder-open-o"></i></a>
                      <a href="#" class="btn btn-info"
                         ng-show="$flow.files.length"
                         ng-disabled="vm.photoUploading"
                         flow-btn
                         flow-attrs="{accept:'image/*'}"><i class="fa fa-refresh"></i></a>
                      <a href="javascript:;" class="btn btn-success"
                         ng-if="$flow.files.length"
                         ng-disabled="vm.photoUploading"
                         ng-click="vm.exitPhotoEdit()"><i class="fa fa-check"></i></a>
                     <a href="javascript:;" class="btn btn-cancel"
                        ng-if="!$flow.files.length"
                        ng-disabled="vm.photoUploading"
                        ng-click="vm.exitPhotoEdit()"><i class="fa fa-remove"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 no-padding"
                     data-ng-if="!vm.initializing && !vm.editPhoto">
                    <div class="avatar"
                         data-ng-if="!vm.editPhoto">
                        {% verbatim %}
                        <img class="avatar" height="80" width="80" ng-src="{{ vm.user.photo }}"
                        {% endverbatim %}
                        />
                        {% if not user_id %}
                        <span class="text-content"

                        style="cursor: pointer"
                        data-ng-click="vm.changePhoto()">
                        <span>CHANGE</span></span>
                        {% endif %}



                    </div>
                </div>
                <div class="col-md-10 user-info-wrapper"
                     data-ng-if="!vm.initializing && !vm.editPhoto">
                    <div id="name-input">
                        <h2 class="text-info bold {% if not user_id %}inplace-edit-element{% endif %}"
                            {% if not user_id %}
                            data-editable-text="vm.user.name"
                            data-e-form="textUserName"
                            data-ng-hide="textUserName.$visible"
                            data-onaftersave="vm.saveProfile()"
                            data-ng-click="textUserName.$show()"
                            {% endif %}
                            data-ng-bind="vm.user.name"><i class="fa fa-user"></i></h2>
                    </div>

                        <div id="job-input">
                          <h5 class="text-info {% if not user_id %}inplace-edit-element{% endif %} no-margin "
                              {% if not user_id %}
                              data-editable-text="vm.user.position"
                              data-e-form="textUserPosition"
                              data-ng-hide="textUserPosition.$visible"
                              data-onaftersave="vm.saveProfile()"
                              data-ng-click="textUserPosition.$show()"
                              {% endif %}
                              data-ng-bind="vm.user.position || 'Role not set'"></h5>

                        </div>
                </div>

            </div>

        </div>

    </section>
</div>
</script>
