<script type="text/ng-template" id="searchSection.html">
<div>
<div class="search-inputs-container">
    <div class="search-inputs-section">

        <h3 class="search-headline">
            <i class="fa fa-code"></i>
            Languages/Libraries/Skills
            <button class="add-tag-btn"
                    data-ng-hide="vm.select.skills"
                    data-ng-click="vm.select.skills = true;">Modify</button>
            <span class="pull-right" data-ng-if="vm.select.skills">
                <button class="btn btn-xs btn-success"
                        data-ng-click="vm.select.skills = false;"><i class="glyphicon glyphicon-ok"/></button>
{#                <button class="btn btn-xs btn-default"#}
{#                        data-ng-click="vm.cancelEditing()"><i class="glyphicon glyphicon-remove"/></button>#}
            </span>
        </h3>
        <div class="search-inputs-section-technology">
            <div class="search-inputs-section-wrapper"
                 data-ng-if="!vm.select.skills"
                 data-ng-repeat="skill in vm.search.skills">
                <span class="search-inputs-tech-tag" data-ng-bind="skill.name"></span>
            </div>
            <div class="" data-ng-if="vm.select.skills">
                <ui-select ng-model="vm.search.skills"
                           multiple
                           theme="bootstrap"
                           autofocus="true">
                    <ui-select-match placeholder="Select skills...">
                        {% verbatim %}{{ $item.name }}{% endverbatim %}
                    </ui-select-match>
                    <ui-select-choices repeat="choice in vm.choices.skills"
                                       refresh="vm.getSkillChoices($select.search)"
                                       refresh-delay="0">
                        <div data-ng-bind-html="choice.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <h3 class="search-headline">
            <i class="fa fa-book"></i>
            Stuff I want to learn
            <button class="add-tag-btn"
                    data-ng-hide="vm.select.wantToLearn"
                    data-ng-click="vm.select.wantToLearn = true;">Modify</button>
            <span class="pull-right" data-ng-if="vm.select.wantToLearn">
                <button class="btn btn-xs btn-success"
                        data-ng-click="vm.select.wantToLearn = false;"><i class="glyphicon glyphicon-ok"/></button>
{#                <button class="btn btn-xs btn-default"#}
{#                        data-ng-click="vm.cancelEditing()"><i class="glyphicon glyphicon-remove"/></button>#}
            </span>
        </h3>
        <div class="search-inputs-section-learn">
            <div class="search-inputs-section-wrapper"
                 data-ng-if="!vm.select.wantToLearn"
                 data-ng-repeat="skill in vm.search.wantToLearn">
                <span class="search-inputs-learn-tag" data-ng-bind="skill.name"></span>
            </div>
            <div data-ng-if="vm.select.wantToLearn">
                <ui-select multiple
                           ng-model="vm.search.wantToLearn"
                           theme="bootstrap"
                           autofocus="true">
                    <ui-select-match placeholder="Select stuffs want to learn">
                        {% verbatim %}{{ $item.name }}{% endverbatim %}
                    </ui-select-match>
                    <ui-select-choices repeat="choice in vm.choices.wantToLearn"
                                       refresh="vm.getWantToLearnChoices($select.search)"
                                       refresh-delay="0">
                        <div data-ng-bind-html="choice.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <h3 class="search-headline">
            <i class="fa fa-flag"></i>
            Health Flags
            <button class="add-tag-btn"
                    data-ng-hide="vm.select.flags"
                    data-ng-click="vm.select.flags = true;">Modify</button>
            <span class="pull-right" data-ng-if="vm.select.flags">
                <button class="btn btn-xs btn-success"
                        data-ng-click="vm.select.flags = false;"><i class="glyphicon glyphicon-ok"/></button>
{#                <button class="btn btn-xs btn-default"#}
{#                        data-ng-click="vm.cancelEditing()"><i class="glyphicon glyphicon-remove"/></button>#}
            </span>
        </h3>
        <div class="search-inputs-section-flags">
           <div class="search-inputs-section-wrapper-flag"
                data-ng-if="!vm.select.flags"
                data-ng-repeat="flag in vm.search.flags">
                <span class="search-inputs-flag-tag" data-ng-bind="flag.name"></span>
           </div>
            <div data-ng-if="vm.select.flags">
                <ui-select multiple
                           ng-model="vm.search.flags"
                           theme="bootstrap"
                           autofocus="true">
                    <ui-select-match placeholder="Select stuffs want to learn">
                        {% verbatim %}{{ $item.name }}{% endverbatim %}
                    </ui-select-match>
                    <ui-select-choices repeat="choice in vm.choices.flags"
                                       group-by="'categoryName'">
                        <div data-ng-bind-html="choice.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="search-input-button-section">
            <button class="search-input-button btn-default btn-cons" data-ng-click="vm.doSearch()">Search</button>
        </div>

    </div>
</div>
<div class="search-results-container">
    <div class="search-results-section">
        <header class="search-results-section-header">
            <h3 class="search-result-headline m-b-0">Search results</h3>
            <p class="search-result-number-found"><span data-ng-bind="vm.results.lenght"></span>found</p>
        </header>
        <div class="search-results-section-wrapper">
            <div class="search-results-section-content">




                <ul class="search-results-list">
                    <li class="results-list-item">
                        <span class="results-list-item-avatar"></span>
                        <div class="results-list-item-name">
                            <p class="results-list-item-name-wrapper">Piotr Nowak</p>
                            <span class="results-list-item-position">Ruby on Rails Developer</span>
                        </div>
                        <span class="results-list-item-percentages">67%</span>
                        <div class="results-list-item-tags">
                            <ul class="tags-result-list">
                                <li class="technology-skill">Ruby on Rails</li>
                                <li class="technology-learn">Angular</li>

                            </ul>
                        </div>
                        <div class="results-list-item-flags pull-right">
                            <ul class="tags-result-list">
                                <li class="search-inputs-flag-tag-result">I want to change project</li>

                            </ul>
                        </div>
                    </li>

                    <li class="results-list-item">
                        <span class="results-list-item-avatar"></span>
                        <div class="results-list-item-name">
                            <p class="results-list-item-name-wrapper">Piotr Nowak</p>
                            <span class="results-list-item-position">Ruby on Rails Developer</span>
                        </div>
                        <span class="results-list-item-percentages">67%</span>
                        <div class="results-list-item-tags">
                            <ul class="tags-result-list">
                                <li class="technology-skill">Ruby on Rails</li>
                                <li class="technology-learn">Angular</li>

                            </ul>
                        </div>
                        <div class="results-list-item-flags pull-right">
                            <ul class="tags-result-list">
                                <li class="search-inputs-flag-tag-result">I want to change project</li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</script>
