{% load i18n static %}
<script type="text/ng-template" id="wantStuffSection.html">
 <section class="main-container col-md-6">
        <div class="main-container-content">
        <div id="learn-stuff-section">
        <div class="learn-stuff-headline-section app-headline-section">
            <h3 class="headline-main-app-section"


             {% if not request.user.is_manager %} 
            
            uib-popover="

            Think of these technologies, which you want to learn.
            Short or long-term. Maybe there's something you want
            to master or something else you need to understand
            as soon as possible. 

            " popover-title="Tell what you want to learn" popover-placement="left" popover-trigger="mouseenter"

            {% endif %}
            >
                <i class="fa fa-book"></i>
                {% trans 'My learning goals' %}
            </h3>
              <span align="center" class="pull-right">
            <img src="{% static 'gifs/ajax-loader.gif' %}" data-ng-if="vm.initializing"/>
            </span>
            {% if not user_id %}
            <button class="add-tag-btn"
                    data-ng-hide="vm.edit || vm.initializing"
                    data-ng-click="vm.editSkills()">{% trans 'Modify' %}</button>
            <div class="pull-right" data-ng-if="vm.edit && !vm.saving">
                <button class="btn btn-xs btn-success"
                        data-ng-click="vm.saveSkills()"><i class="glyphicon glyphicon-ok"/></button>
                <button class="btn btn-xs btn-default"
                        data-ng-click="vm.cancelEditing()"><i class="glyphicon glyphicon-remove"/></button>
            </div>
            {% endif %}
        </div>

        <div class="tag-container-no-tag animated fadeIn" style="display: block;" data-ng-if="!vm.skills.length && !vm.edit && !vm.initializing">
            <i class="fa fa-book fa-5x"></i>
            {% if not user_id %}
            <p class="no-tag-info">{% trans "Nothing to learn here." %}<br><a href="javascript:;" data-ng-click="vm.editSkills()" data-ng-if="!vm.edit"> Add goals!</a></p>
            {% else %}
                <p class="no-tag-info">{% trans 'Empty' %}</p>
            {% endif %}
        </div>

           

        <ul class="learn-stuff-list" data-ng-if="!vm.edit">
            <li class="learn-stuff-list-element animated fadeIn"
                data-ng-repeat="skill in vm.skills"
                data-ng-click="vm.showInfo(skill)">

                <button class="learn-list-tag-content">
                    {% verbatim %}{{ skill.tag.name }}{% endverbatim %}
                </button>
                <span>
                    <i class="fa fa-book text-silver">&nbsp</i>
                       {% verbatim %}{{ skill.count }}{% endverbatim %}
                </span>
            </li>
        </ul>
        {% if not user_id %}
        <div data-ng-if="vm.edit && !vm.saving">
        <div class="add-skill-bottom-div animated slideInUp">
                 <div class="add-skill-bottom-div-label">
            <i class="fa fa-circle text-success fs-11"/> ADD TECH YOU WANT TO LEARN
            <ui-select multiple
                       data-ng-model="vm.tags"
                       theme="bootstrap"
                       autofocus="true"
                       title="{% trans 'Add tags...' %}">
                <ui-select-match data-placeholder="{% trans 'Start typing..' %}">
                    {% verbatim %}
                    {{ $item.name }}
                    {% endverbatim %}
                </ui-select-match>
                <ui-select-choices repeat="choice in vm.choices"
                                   refresh="vm.getChoices($select.search)"
                                   refresh-delay="0">
                    <div data-ng-bind-html="choice.name"></div>
                </ui-select-choices>
            </ui-select>
            </div>
            </div>
        </div>
        {% endif %}
    </div>
   
</section>
</script>
