@media print { /* line 7, ../../sass/modules/print.scss */
  .header, .page-sidebar, .quickview-wrapper, .overlay { display: none; }
  /* line 13, ../../sass/modules/print.scss */
  .page-container { padding-left: 0; }
  /* line 17, ../../sass/modules/print.scss */
  .page-content-wrapper .content { border-top: 0; }
  /* line 19, ../../sass/modules/print.scss */
  .page-content-wrapper .content .panel { border: none; }
  /* line 21, ../../sass/modules/print.scss */
  .page-content-wrapper .content .panel .panel-body { padding: 0; }
  /* line 27, ../../sass/modules/print.scss */
  [class^='padding-'], [class*='padding-'], .table tbody tr td { padding: 10px; } }
