/*
Error: Undefined variable: "$color-master".
        on line 4 of /Users/daniel/devinity/static/sass/modules/progress_indicators.scss

1: 
2: .progress {
3:     height: 12px;
4:     background-color: fade($color-master, 20%);
5:     background-image: none;
6:     box-shadow: none;
7:     border-radius: 0;
8:     &.transparent {
9:         background-color: rgba(0, 0, 0, 0.28);

Backtrace:
/Users/daniel/devinity/static/sass/modules/progress_indicators.scss:4
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:124:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-master\".\A         on line 4 of /Users/daniel/devinity/static/sass/modules/progress_indicators.scss\A \A 1: \A 2: .progress {\A 3:     height: 12px;\A 4:     background-color: fade($color-master, 20%);\A 5:     background-image: none;\A 6:     box-shadow: none;\A 7:     border-radius: 0;\A 8:     &.transparent {\A 9:         background-color: rgba(0, 0, 0, 0.28);"; }
