/* line 5, ../../sass/modules/vector_map.scss */
.mapplic-container { width: 100%; background-color: transparent; }
/* line 8, ../../sass/modules/vector_map.scss */
.mapplic-container .mapplic-fullscreen-button { left: auto; right: 154px; bottom: 0; top: auto; }
/* line 14, ../../sass/modules/vector_map.scss */
.mapplic-container .mapplic-clear-button { visibility: hidden; }

/* line 18, ../../sass/modules/vector_map.scss */
.mapplic-tooltip { padding: 8px 11px; }

/* line 21, ../../sass/modules/vector_map.scss */
.mapplic-tooltip-title { font-size: 13px; margin: 0; text-align: center; }

/* line 26, ../../sass/modules/vector_map.scss */
.mapplic-tooltip { max-width: 150px; }

/* line 29, ../../sass/modules/vector_map.scss */
.map-controls { position: absolute; left: 50px; top: 80px; z-index: 1; }

/* line 35, ../../sass/modules/vector_map.scss */
.mapplic-pin { background-image: url(../../assets/img/maps/marker-master.svg); background-size: contain; }
/* line 38, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse { background-image: url(../../assets/img/maps/pulse-master.svg); }
/* line 40, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse.green { background-image: url(../../assets/img/maps/pulse-success.svg); }
/* line 43, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse.blue { background-image: url(../../assets/img/maps/pulse-complete.svg); }
/* line 46, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse.purple { background-image: url(../../assets/img/maps/pulse-primary.svg); }
/* line 49, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse.yellow { background-image: url(../../assets/img/maps/pulse-warning.svg); }
/* line 52, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse.red { background-image: url(../../assets/img/maps/pulse-danger.svg); }
/* line 56, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse-alt { background-image: url(../../assets/img/maps/pulse-alt-master.svg); }
/* line 58, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse-alt.green { background-image: url(../../assets/img/maps/pulse-alt-success.svg); }
/* line 61, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse-alt.blue { background-image: url(../../assets/img/maps/pulse-alt-complete.svg); }
/* line 64, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse-alt.purple { background-image: url(../../assets/img/maps/pulse-alt-primary.svg); }
/* line 67, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse-alt.yellow { background-image: url(../../assets/img/maps/pulse-alt-warning.svg); }
/* line 70, ../../sass/modules/vector_map.scss */
.mapplic-pin.pulse-alt.red { background-image: url(../../assets/img/maps/pulse-alt-danger.svg); }
/* line 74, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker { background-image: url(../../assets/img/maps/marker-master.svg); }
/* line 76, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker.green { background-image: url(../../assets/img/maps/marker-success.svg); }
/* line 79, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker.blue { background-image: url(../../assets/img/maps/marker-complete.svg); }
/* line 82, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker.purple { background-image: url(../../assets/img/maps/marker-primary.svg); }
/* line 85, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker.yellow { background-image: url(../../assets/img/maps/marker-warning.svg); }
/* line 88, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker.red { background-image: url(../../assets/img/maps/marker-danger.svg); }
/* line 92, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker-alt { background-image: url(../../assets/img/maps/marker-alt-master.svg); }
/* line 94, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker-alt.green { background-image: url(../../assets/img/maps/marker-alt-success.svg); }
/* line 97, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker-alt.blue { background-image: url(../../assets/img/maps/marker-alt-complete.svg); }
/* line 100, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker-alt.purple { background-image: url(../../assets/img/maps/marker-alt-primary.svg); }
/* line 103, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker-alt.yellow { background-image: url(../../assets/img/maps/marker-alt-warning.svg); }
/* line 106, ../../sass/modules/vector_map.scss */
.mapplic-pin.marker-alt.red { background-image: url(../../assets/img/maps/marker-alt-danger.svg); }
