<div class="main-user-account-management">
      <span class="nav-user-name">{{ userName }}</span>
      <div class="navigation-user dropdown pull-right">
          <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="thumbnail-wrapper d32 circular inline m-t-5">
                  <img src="{{ avatar }}" alt="" 
                       data-src-retina="{{ avatar }}" 
                       width="32" height="32">
              </span>
          </button>
          <ul class="dropdown-menu profile-dropdown user-profile-nav animated fadeInDown" data-effect="fadeInDown" role="menu">
              
              <li class="bg-master-lighter">
                  <a href="{{ logoutUrl }}" class="clearfix">
                      <span class="pull-left">Logout</span>
                      <span class="pull-right">
                          <i class="pg-power"></i>
                      </span>
                  </a>
              </li>
          </ul>
      </div>
  </div>