<span class="ui-select-match">
    <span ng-repeat="$item in $select.selected">
        <span class="ui-select-match-item btn btn-tag btn-tag-dark" tabindex="-1" type="button"
              ng-disabled="$select.disabled"
              ng-click="$selectMultiple.activeMatchIndex = $index;"
              ng-class="{'btn-primary':$selectMultiple.activeMatchIndex === $index,
                         'select-locked':$select.isLocked(this, $index)}"
              ui-select-sort="$select.selected">
            <span class="close ui-select-match-close"
                  ng-hide="$select.disabled"
                  ng-click="$selectMultiple.removeChoice($index)">&nbsp;&times;</span>
            <span uis-transclude-append=""></span>
        </span>
    </span>
</span>
