<h4>
    <span class="label"
          data-ng-class="{'label-success': data.category == 1,
                          'label-primary': data.category == 2,
                          'label-warning': data.category == 3}">
        {{ $getDisplayText() }}
    </span>
</h4>
