<div class="row peer-match-button-row animated fadeInUp">
    <a href="{{ vm.peer.url }}" class="no-style">
        <div class="peer-match-profile-section col-md-8">
            <div wr-image="vm.peer.user.image" width="50" height="50" alt></div>
            <div class="peer-info">
                
                <h4 class="peer-match-name m-l-10 m-b-5 text-left" data-ng-bind="vm.peer.user.name"></h4>
                
                <span class="peer-match-position" data-ng-bind="vm.peer.user.position"></span></br>
                <div class="inline p-l-20 peer-match-profile-score"><strong>{{ vm.peer.score }}% </strong></div>
            </div>
        </div>
        <div class="peer-match-profile-section-details col-md-4">
            
            <div class="peer-match-profile-help-desc">
                
                <badge class="badge badge-default badge-xs m-r-10" data-ng-repeat="x in vm.peer.reason.description">
                {{ x }}
                </badge>
                
            </div>
        </div>
    </a>
</div>