<section class="main-container col-md-6">
    <div class="main-container-content-peers">
        <div id="peer-matching-section">
            <div class="panel panel-complete" style="margin-bottom:0px">
                <div class="peer-maching-container app-headline-section">
                    <h3 class="headline-main-app-section"

            {% if not request.user.is_manager %} 
            
            uib-popover="

            Mentorship is key to collaboration. Peer Matching can help you find potential tech mates,
            mentors or students. Be great. Learn. Teach. Collaborate

            " popover-title="Meet your peers" popover-placement="left" popover-trigger="mouseenter"

            {% endif %}
                    >
                    <i class="fa fa-refresh" style="cursor: pointer"
                    data-ng-click="vm.getPeers()" uib-tooltip="Refresh"></i> Peer matching
                    </h3>
                    <span align="center" class="pull-right" data-ng-if="vm.init">
                        <img src="/static/gifs/ajax-loader.gif">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="panel">
            <ul class="matches-list-section"
                data-ng-if="!vm.init">
                <li class="panel-body p-t-15 peer-match-profile-container"
                    data-ng-repeat="peer in vm.matches">
                    <div class="panel-heading no-padding">
                        <div style="color:#3B4752" class="label label-default"><i class="" ng-class="{'fa fa-graduation-cap text-info': peer.match_type == 'teacher',
                      'fa fa-heart text-danger': peer.match_type == 'similar',
                      'fa fa-book text-success': peer.match_type == 'student'}"></i>&nbsp {{ peer.others.title }} <img src="/static/gifs/ajax-loader.gif"
                        data-ng-if="peer.others.loading"></div>
                    </div>
                    <dev-match user="peer"></dev-match>
                    <div class="row expand-label" data-ng-click="vm.showList(peer.others)"
                        title="Show more">
                        <span class="btn btn-info btn-xs pull-right m-r-15" style="text-align:right;"><i class="fa fa-arrow-down "></i> MORE MATCHES</span>
                    </div>
                    <div class="row">
                        <div class="col-md-12"
                            uib-collapse="peer.others.hidden">
                            <div class="panel panel-default">
                                
                                <div class="panel-body no-padding" style="overflow-y: auto;"
                                    infinity-scroll data-height="300" data-on-end="peer.others.next()">
                                    <ul class="matches-list-section">
                                        <li class="panel-body peer-match-profile-container no-padding"
                                            data-ng-repeat="other in peer.others.matches">
                                            <dev-match user="other"></dev-match>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>