/*
Error: Undefined variable: "$layout-sidepanel-pin-width".
        on line 49 of /Users/daniel/devinity/static/sass/responsive.scss

44:         &.menu-pin{
45:             .page-container{
46:                 padding-left: 0;
47:                 .page-content-wrapper {
48:                     .content{
49:                         padding-left:$layout-sidepanel-pin-width;
50:                     } 
51:                     .footer{
52:                         left: $layout-sidepanel-pin-width;
53:                     }
54:                 }

Backtrace:
/Users/daniel/devinity/static/sass/responsive.scss:49
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:513:in `visit_media'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/daniel/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/daniel/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$layout-sidepanel-pin-width\".\A         on line 49 of /Users/daniel/devinity/static/sass/responsive.scss\A \A 44:         &.menu-pin{\A 45:             .page-container{\A 46:                 padding-left: 0;\A 47:                 .page-content-wrapper {\A 48:                     .content{\A 49:                         padding-left:$layout-sidepanel-pin-width;\A 50:                     } \A 51:                     .footer{\A 52:                         left: $layout-sidepanel-pin-width;\A 53:                     }\A 54:                 }"; }
