// Basic CSS configuration
body
  font-family: "Titillium Web", Arial, sans-serif
  font-size: 1.2em

.btn
  font-family: "Titillium Web"


h1,h2,h3,h4,h5,h6
  margin: 10px 0
  font-family: "Titillium Web", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #2c2c2c

.header .search-link
  font-family: "Titillium Web"


h2
  font-size: 32px

h3
  font-size: 26px

h4
  font-size: 18px

h5
  font-size: 0.8em

.btn-label
  font-size: 18px
  position: relative
  left: -18px
  display: inline-block
  padding: 6px 12px
  background: rgba(0,0,0,0.3)
  border-radius: 3px 0 0 3px

.btn-labeled
  padding-top: 0
  padding-bottom: 0

.btn-skill
  margin-bottom: 10px
  font-size: 0.8em


.header .brand
  text-align: left
  padding-left: 30px

.loadn
  position: relative
  left: -40px
  top: -30px
  display: none
  font-size: 15px

.btn--table
  text-align: left!important

.page-container .page-content-wrapper .content
  padding-bottom: 5px

.number
  padding-left: 10px!important

.transparent
  background: rgba(255,255,255,0.5)

#map
  position: relative

.watermark
  position: absolute
  left: 0
  margin-bottom: 200px
  margin-left: 190px
  bottom: 0
  background-color: rgba(0,0,0,0)

div.brand.inline>h2>img
  vertical-align: text-bottom
  margin-right: 10px

.overlay .overlay-search
  font-size: 55px

.overlay .overlay-brand
  margin-left: 0px
  vertical-align: text-bottom

.search-result-name
  margin-top: 0px

.btn-search-result
  padding: 0px
  margin: 0px
  text-align: left
  border: none

.btn-search-result:hover
  padding: 0px
  margin: 0px
  text-align: left
  border: none

#chat-trigger
  z-index: 1000

.quickview-wrapper .nav-tabs
  padding: 0px

.login-wrapper
  background-color: rgba(144, 177, 243, 0.88)

.no-bullets
  list-style-type: none

.label--flag
  font-size: 1.0em

.largefont
  font-size: 1.5em
  padding: 5px

.extra-largefont
  font-size: 2.5em
  padding: 5px

.no-padding-right
  padding-right: 0px

.border-bottom
  border-bottom: 1px gray dotted

.chat-view .message
  margin-bottom: 0px

.btn-custom
  width: 10em



// Header

.app-main-nav
  background: #ffffff
  border-bottom: 1px solid rgba(230, 230, 230, 0.7)
  max-height: 60px

  .nav-devinity-logo
    display: inline-block
    margin: 8px 0 0 25px
    vertical-align: top

  .app-headline
    color: #626262
    display: inline-block
    font-size: 1.2em
    line-height: 60px
    margin: 0

  .main-user-account-management
    display: inline-block
    float: right

    .user-profile-nav
      right: 20px

  .nav-user-name
    font-size: 16px
    line-height: 60px

  .navigation-user
    padding: 6px 20px 0 10px


