{% load staticfiles %}
<!DOCTYPE html>
<html data-ng-app="devinity">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Devinity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="{% static 'ico/60.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'ico/76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'ico/120.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'ico/152.png' %}">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- for Google -->
    <meta name="description" content="" />
    <meta name="keywords" content="devinity,developers,software,knowledge,skills,technologies" />

    <meta name="author" content="Devinity 2015" />
    <meta name="copyright" content="" />
    <meta name="application-name" content="Devinity" />

    <!-- for Facebook -->
    <meta property="og:title" content="Devinity." />
    <meta property="og:type" content="Teaser" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="devinity.io" />
    <meta property="og:description" content="Developers.Connected." />

    <!-- for Twitter -->
    <meta name="twitter:card" content="Bringing developers together over things that matter." />
    <meta name="twitter:title" content="Devinity" />
    <meta name="twitter:description" content="Developers.Connected." />
    <meta name="twitter:image" content="" />


    <!-- BEGIN Vendor CSS-->

    <link href="{% static 'plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css" media="screen" />
{#    <link href="{% static 'plugins/bootstrap-select2/select2.css' %}" rel="stylesheet" type="text/css" media="screen" />#}
    <link href="{% static 'plugins/switchery/css/switchery.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <!-- BEGIN Pages CSS-->
    <link href="{% static 'css/pages-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/pages.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/css-view/main.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <script src="{% static 'plugins/pace/pace.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!--[if lte IE 9]>
    <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="{% static 'css/windows.chrome.fix.css' %}" />'
    }
    </script>
      <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
{#      <script src="{% static 'js/underscore/underscore-min.js' %}"></script>#}
{#      <script src="{% static 'js/angular/angular.min.js' %}"></script>#}
{#      <script src="{% static 'js/angular-ui/ui-bootstrap-custom-tpls-0.14.3.min.js' %}"></script>#}
{#      <script src="{% static 'devinity-app/devinity.min.js' %}"></script>#}

    <!-- for Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("5ff1866da4500cbdc46c1b408de476d0");</script>

    <!-- for HEAP -->
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
      heap.load("1914198500");
    </script>

    <!-- for Heatmap.me -->
    <script type="text/javascript">
      (function() {
      var hm = document.createElement('script'); hm.type ='text/javascript'; hm.async = true;
      hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g,'/').replace(/-/g,'.');
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hm, s);
      })();
    </script>


  </head>

  <body class="fixed-header menu-behind">

   <div class="page-sidebar" data-pages="sidebar">
      <div id="appMenu" class="sidebar-overlay-slide from-top">
      </div>
      <!-- BEGIN SIDEBAR HEADER -->
      <div class="sidebar-header">
        <img src="{% static 'img/dev-log.png' %}" alt="logo" class="brand"
             data-src="{% static 'img/dev-log.png' %}"
             data-src-retina="{% static 'img/dev-log.png' %}"
             width="32" height="32">
        <div class="sidebar-header-controls">
          <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR HEADER -->
      <!-- BEGIN SIDEBAR MENU -->
      <div class="sidebar-menu">
        <ul class="menu-items">
          <li class="m-t-30">
            <a href="{% url 'index' %}" class="detailed">
              <span class="search-headline">Your profile</span>

            </a>
            <span class="icon-thumbnail "><i class="fa fa-user"></i></span>
          </li>

          {% if request.user.is_manager %}
          <li class="">
            <a href="{% url 'dashboard' %}">
              <span class="search-headline">Dashboard</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-dashboard"></i></span>
          </li>
          {% endif %}

        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </div>


{% block nav_block %}
<div class="header">
<nav class="app-main-nav">

  <div class="nav-devinity-logo">
      <img src="{% static 'img/dev-log.png' %}" alt="logo"
           data-src="{% static 'img/dev-log.png' %}"
           data-src-retina="{% static 'img/dev-log.png' %}"
           width="45" height="45">
  </div>
  <h3 class="app-headline text-info">DEVINITY</h3>

  <account-manager user-name="'{{ request.user.name }}'" logout-url="/logout/" avatar="'{{ request.user.get_avatar_url }}'">

  </account-manager>
  <span> @ {{ user.organization }} </span>

</nav>
</div>
{% endblock %}
<div class="bg-canvas m-t-50">

  <section class="container">
    <div class="page-container no-padding">
    <div class="page-content-wrapper">
        <div class="inner">

            <section class="container-fluid sm-p-l-20 sm-p-r-20 container-introduction">
              <div class="container any-app-container">
{% block body_block %}

{% endblock %}
</div>
</section>
</div>
</div>
</div>
</section>
</div>

   {% include 'devinity-app/love_stuff_section.html' %}
   {% include 'devinity-app/profile_section.html' %}

   <!-- angular templates -->
   {% include 'devinity-app/profile_section.html' %}
   {% include 'devinity-app/love_stuff_section.html' %}

   {% if not user_id or request.user.is_manager  %}
      {% include 'devinity-app/flag_section.html' %}
   {% endif %}


   {% include 'devinity-app/want_stuff_section.html' %}
   {% include 'devinity-app/skill_section.html' %}
   {% include 'devinity-app/search_section.html' %}


    <!-- BEGIN VENDOR JS -->
    <script src="{% static 'plugins/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/boostrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery/jquery-easy.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-unveil/jquery.unveil.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-bez/jquery.bez.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-ios-list/jquery.ioslist.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-actual/jquery.actual.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'plugins/mapplic/js/hammer.js' %}"></script>
    <script src="{% static 'plugins/mapplic/js/jquery.mousewheel.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'plugins/bootstrap-select2/select2.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'plugins/classie/classie.js' %}"></script>

    <script src="{% static 'plugins/switchery/js/switchery.min.js' %}" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="{% static 'js/pages.min.js' %}"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
   <link href="{% static 'bundles/devinity.min.css' %}" rel="stylesheet">

   <script src="{% static 'js/select2/select2-master/select2.full.min.js' %}"></script>
   <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

   <script src="{% static 'bundles/devinity.libs.min.js' %}"></script>
   <script src="{% static 'devinity-app/devinity.min.js' %}"></script>
   {% block scripts %}{% endblock %}
    <!-- END PAGE LEVEL JS -->
  <angular-feedback options="{html2canvasURL: '{% static 'js/html2canvas.js' %}'}"></angular-feedback>
  </body>
</html>
