{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<title>Feedbacks</title>
<header>
<link href="{% static 'plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />


</header>


<body>
<h1>Feedbacks</h1>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Reporter</th>
        <th>Timestamp</th>
        <th>Browser info</th>
        <th>URL</th>
        <th>Note</th>
        <th>HTML content</th>
        <th>Screenshot</th>
    </tr>
{% for feedback in object_list %}
    <tr>
        <td>{{ feedback.id }}</td>
        <td>{{ feedback.reporter }}<br>{{ feedback.reporter.id }}</td>
        <td>{{ feedback.timestamp|date:'y-m-d H:i:s.u T' }}</td>
        <td><button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#browser_info">
  Browser info
</button>
<!-- modals -->
<div class="modal fade" id="browser_info" tabindex="-1" role="dialog" aria-labelledby="browser_info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Browser info</h4>
      </div>
      <div class="modal-body">
      <code>  {{ feedback.browser_info }} </code>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        </td>
        <td>{{ feedback.url }}</td>
        <td>{{ feedback.note }}</td>
        <td>

        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#html_content">
  HTML Content
</button>


<!-- modals -->
<div class="modal fade" id="html_content" tabindex="-1" role="dialog" aria-labelledby="html_content">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Browser info</h4>
      </div>
      <div class="modal-body">
      <code>  {{ feedback.html_content }}</code>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</td>
        <td><a href="{{ feedback.screen_shot.url }}">
            <img src = "{{ feedback.screen_shot.url }}" width="200px" height="100px">
            </a>
        </td>
    </tr>
{% empty %}
    <tr><td>No feedbacks yet.</td></tr>
{% endfor %}
</table>

{% if is_paginated %}
<hr>
<center>
{% if page_obj.has_previous %}
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
{% endif %}
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
{% if page_obj.has_next %}
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
{% endif %}
</center>
{% endif %}


</body>
    <script src="{% static 'plugins/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/boostrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
</html>