{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login with{% endblock %}

{% block body_block %}

{% load account %}
{% load socialaccount %}
{% providers_media_js %}

<p><a href="{% provider_login_url "stackexchange" process="connect" %}">StackOverflow</a></p>
<p><a href="{% provider_login_url "linkedin_oauth2" process="connect" %}">LinkedIn</a></p>


{% get_social_accounts user as accounts %}

{% endblock body_block %}