{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}
    <div>
    <h1><a href="/signup/se">Login with SE</a></h1>
    <p>
    {% if user and not user.is_anonymous %}
    Hello {{ user.get_full_name|default:user.username }}!
    {% else %}
    Log in?
    {% endif %}
 </p>
 </div>
{% endblock body_block %}