<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Devinity - Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="{% static 'ico/60.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'ico/76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'ico/120.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'ico/152.png' %}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- for Google -->
<meta name="description" content="" />
<meta name="keywords" content="devinity,developers,software,knowledge,skills,technologies" />

<meta name="author" content="Devinity 2015" />
<meta name="copyright" content="" />
<meta name="application-name" content="Devinity" />

<!-- for Facebook -->
<meta property="og:title" content="Devinity." />
<meta property="og:type" content="Teaser" />
<meta property="og:image" content="" />
<meta property="og:url" content="devinity.io" />
<meta property="og:description" content="Developers.Connected." />

<!-- for Twitter -->
<meta name="twitter:card" content="Bringing developers together over things that matter." />
<meta name="twitter:title" content="Devinity" />
<meta name="twitter:description" content="Developers.Connected." />
<meta name="twitter:image" content="" />


    <!-- BEGIN Vendor CSS-->
        <link href="{% static 'plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'plugins/bootstrap-select2/select2.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'plugins/switchery/css/switchery.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">

    <link class="main-stylesheet" href="{% static 'css/pages.css' %}" rel="stylesheet" type="text/css" /
<link class="stylesheet" href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
    <link href="{% static 'css/ie9.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="{% static 'css/windows.chrome.fix.css' %}" />'
    }
    </script>

  </head>

  <body>





<div class="m-t-80 animated fadeInUp" data-effect="fadeInUp">
{% block body_block %}


{% endblock %}
</div>


    <!-- BEGIN VENDOR JS -->
    <script src="{% static 'plugins/pace/pace.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/boostrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery/jquery-easy.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-unveil/jquery.unveil.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-bez/jquery.bez.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-ios-list/jquery.ioslist.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-actual/jquery.actual.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap-select2/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/classie/classie.js' %}"></script>
    <script src="{% static 'plugins/switchery/js/switchery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>


    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <script>
    $(function()
    {
      $('#form-login').validate()
    })
    </script>
  </body>
</html>