{% extends 'profile.html' %}

{% block title %}My amazing blog{% endblock %}

{% block matchbox %}
<p>Similar match:<br>
    <span>{{ matches.similar.strength }} {{ matches.similar.userplate.name }}&nbsp;{{ matches.similar.userplate.surname }}
     {{ matches.similar.userplate.position }}<br> {{ matches.similar.cause}} </span>
</p>
<p>Can learn from:<br>
    <span>{{ matches.mentor.strength }} {{ matches.mentor.userplate.name }}&nbsp;{{ matches.mentor.userplate.surname }}
     {{ matches.mentor.userplate.position }}<br> {{ matches.mentor.cause}} </span>
</p>
<p>Can teach:<br>
    <span>{{ matches.apprentice.strength }} {{ matches.apprentice.userplate.name }}&nbsp;{{ matches.apprentice.userplate.surname }}
     {{ matches.apprentice.userplate.position }}<br> {{ matches.apprentice.cause}} </span>
</p>
{% endblock matchbox %}