{% extends "search.html" %}
{% load staticfiles %}


{% block body_block %}

<!--<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>-->

<!--<form action="/input_tag/" method="get">-->
        <!--<input type="text" name="input">-->
        <!--<input type="submit" value="Search">-->
        <!--<script  type="text/javascript">-->
                <!--$("#input").select2({dropdownCssClass: 'dropdown-inverse'});-->
                <!--jQuery.post(-->
                <!--"skrypt.php", {"klucz": "wartość", "a": 13}, function(json) {alert('Dane otrzymane: '+json.klucz+', '+json.a);}, "json");-->
        <!--</script>-->
<!--</form>-->

<div>
    <h2>Search</h2>
</div>


<div class="container search-main-container">

    <section class="container-fluid sm-p-l-20 sm-p-r-20 search-main-wrapper">

        <div class="search-inputs-container">
            <div class="search-inputs-section">

                <h3 class="search-headline">
                    <i class="fa fa-code"></i>
                    Languages/Libraries/Skills
                </h3>
                <div class="search-inputs-section-technology">
                    <div class="search-inputs-section-wrapper">
                        <span class="search-inputs-tech-tag">Scala</span>
                    </div>
                </div>

                <h3 class="search-headline">
                    <i class="fa fa-book"></i>
                    Stuff I want to learn
                </h3>
                <div class="search-inputs-section-learn">
                    <div class="search-inputs-section-wrapper">
                        <span class="search-inputs-learn-tag">AngularJS</span>
                    </div>
                </div>

                <h3 class="search-headline">
                    <i class="fa fa-flag"></i>
                    Health Flags
                </h3>
                <div class="search-inputs-section-flags">
                   <div class="search-inputs-section-wrapper-flag">
                        <span class="search-inputs-flag-tag">I want to change project</span>

                   </div>
                </div>
                <div class="search-input-button-section">
                    <button class="search-input-button">Search</button>
                </div>

            </div>
        </div>

        <div class="search-results-container">
            <div class="search-results-section">
                <header class="search-results-section-header">
                    <h3 class="search-result-headline">Search results</h3>
                    <p class="search-result-number-found"><span> 1 </span>found</p>
                </header>
                <div class="search-results-section-wrapper">
                    <div class="search-results-section-content">
                        <ul class="search-results-list">
                            <li class="results-list-item">
                                <span class="results-list-item-avatar"></span>
                                <div class="results-list-item-name">
                                    <p class="results-list-item-name-wrapper">Piotr Nowak</p>
                                    <span class="results-list-item-position">Ruby on Rails Developer</span>
                                </div>
                                <span class="results-list-item-percentages">67<i>%</i></span>
                                <div class="results-list-item-tags">
                                    <span class="search-inputs-tech-tag">Scala</span>
                                </div>
                                <div class="results-list-item-flags">
                                    <span class="search-inputs-flag-tag">I want to change project</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>




{% endblock body_block %}
