{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <h1>Rubicore interface</h2>
      </br>
      <img src="{{ url_for('static', filename='logo.jpg') }}" width="100px" heigth="100px" />
      </br></br>
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Click here</a> to authenticate
      {% else %}
      <a href="{{ url_for('logout') }}">Click here</a> to administer
      {% endif %}
    </div>
{% endblock %}