<!DOCTYPE html>
<html>
  <head>
    <title>Rubicore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>

  <div class=page>
    <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Login</a>
    {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>

  </body>
</html>