
.feedback-btn {
  position: fixed;
  right: 60px;
  bottom: -3px;
  width: auto;
  font-size: 14px;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#feedback-module p {
  font-size: 13px;
}

#feedback-note-tmp {
  width: 444px;
  height: auto;
  min-height: 90px;
  padding: 4px;
  outline: none;
}

#feedback-note-tmp:focus,
#feedback-overview-note:focus {
  border: 1px solid #64b7cc;
}

#feedback-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#feedback-welcome {
  position: fixed;
  top: 30%;
  left: 50%;
  display: block;
  margin-left: -270px;
}

.feedback-logo {
  width: 34px;
  height: 32px;
  padding-left: 40px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  background: url(icons.png) 0px 0px no-repeat;
}

.feedback-next-btn {
  float: right;
  width: 72px;
  height: 29px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 27px;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feedback-back-btn {
  float: right;
  width: 72px;
  height: 29px;
  padding: 0 8px;
  margin-right: 20px;
  font-size: 13px;
  line-height: 27px;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feedback-submit-btn {
  float: right;
  width: 72px;
  height: 29px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 27px;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feedback-close-btn {
  float: right;
  width: 72px;
  height: 29px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 27px;
}

.feedback-helper {
  cursor: default;
  background: rgba(0, 0, 0, 0);
}

.feedback-helper[data-type="highlight"] > .feedback-helper-inner {
  background: rgba(0, 68, 255, 0.1);
}

#feedback-close {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(icons.png) 0px -64px;
}

.feedback-wizard-close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(icons.png) 0px -34px;
  opacity: 0.65;
}

.feedback-wizard-close:hover {
  opacity: 1;
}

#feedback-welcome-error,
#feedback-overview-error {
  display: none;
  float: right;
  margin-right: 30px;
  font-size: 13px;
  line-height: 29px;
  color: #f13e3e;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#feedback-overview-error {
  margin-top: 20px;
}

#feedback-highlighter {
  position: fixed;
  right: 100px;
  bottom: 100px;
  display: none;
  width: 540px;
  height: 275px;
}

#feedback-overview {
  position: fixed;
  top: 10%;
  left: 50%;
  display: none;
  width: 840px!important;
  height: auto;
  margin-left: -420px;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#feedback-submit-error,
#feedback-submit-success {
  position: fixed;
  top: 30%;
  left: 50%;
  display: block;
  width: 600px;
  height: auto;
  margin-left: -300px;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feedback-btn {
  z-index: 40000;
  padding: 10px;
  outline: 0;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feedback-btn-gray {
  color: #444;
  text-align: center;
  cursor: pointer;
  background-color: #19b698;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.feedback-btn-gray:hover {
  color: #333;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
}

.feedback-btn-blue {
 
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #e74c3c;
  border: 1px solid #ecf0f1;
  border-radius: 2px;

}

#feedback-note-tmp,
#feedback-overview-note {
  resize: none;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#feedback-welcome,
#feedback-highlighter,
#feedback-overview,
#feedback-submit-success,
#feedback-submit-error {
  z-index: 40000;
  width: 540px;
  padding: 30px 42px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.333);
  outline: 0;
  -webkit-transform: translateZ();
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feedback-sethighlight,
.feedback-setblackout {
  display: inline-block;
  float: left;
  height: 30px;
  min-width: 90px;
  padding: 0 8px;
  margin-right: 16px;
  font-size: 11px;
  font-weight: bold;
  line-height: 28px;
  color: #444;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.feedback-setblackout {
  margin-top: 10px;
  clear: both;
}

.feedback-sethighlight div {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  background: url(icons.png) 0px -94px;
}

.feedback-setblackout div {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  background: url(icons.png) -16px -94px;
}

.feedback-sethighlight:hover,
.feedback-setblackout:hover {
  color: #333;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.feedback-active {
  color: #333;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -moz-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -ms-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -o-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: linear-gradient(top, #eeeeee, #e0e0e0);
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#feedback-highlighter label {
  float: left;
  margin: 0 0 0 10px;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
}

#feedback-highlighter label.lower {
  margin-top: 10px;
}

.feedback-buttons {
  float: right;
  margin-top: 20px;
  clear: both;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#feedback-module h3 {
  margin: 8px 0;
  font-size: 15px;
  font-weight: bold;
}

.feedback-additional {
  margin-bottom: 20px !important;
}

#feedback-overview-description {
  float: left;
}

#feedback-overview-note {
  width: 314px;
  height: 90px;
  padding: 4px;
 
  outline: none;
 
}

#feedback-overview-screenshot {
  float: right;
}

.feedback-screenshot {
  max-width: 396px;
  padding: 1px;
  border: 1px solid #adadad;
}

#feedback-overview-description-text span {
  padding-left: 10px;
  margin: 8px 0;
  margin-left: 26px;
  font-size: 14px;
  color: #666;
  background: url(icons.png) -30px -34px no-repeat;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#feedback-browser-info,
#feedback-page-info,
#feedback-page-structure,
#feedback-additional-none {
  display: none;
  margin-top: 16px;
}